.counters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flightform{
  display: flex;
  flex-direction: row;
}
.btn{
  background-color: lightblue;
  border-radius: 15px;
}
.map{
  border-radius: 175px;
}
