.flight-stats{
  display: inline;
  background-color:lightblue
}
.track-flight{
  display: inline;
  background-color: lightgrey;
}

.counters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flightform{
  display: flex;
  flex-direction: row;
}
.btn{
  background-color: lightblue;
  border-radius: 15px;
}
.map{
  border-radius: 175px;
}
.track-container{
  display: none;
}
#track-submit{
  background-color: lightblue;
  display: inline;
  border-radius: 15px;
}
